---

---

<button
  id="theme-toggle"
  class="px-3 py-1 cursor-pointer rounded-full border-2 border-[#d5d5d5] bg-[#0a112a] dark:bg-[#fbfbfb]"
>
  <span id="light-icon" class="block">🌙</span>
  <span id="dark-icon" class="hidden">☀️</span>
</button>
