---

---

<button
  id="theme-toggle"
  class="px-3 py-1 cursor-pointer rounded-full border-2 border-[#d5d5d5] bg-[#0a112a] dark:bg-[#fbfbfb]"
>
  <span class="dark:hidden">🌙</span>
  <span class="hidden dark:block">☀️</span>
</button>
