---
import BaseLayout from 'layouts/BaseLayout.astro';
import Slider from 'widgets/main/Slider.astro';
const pageTitle = 'SNS헬프 - 인스타 좋아요 늘리기, 인스타그램 팔로워 늘리기';
---

<BaseLayout pageTitle={pageTitle}>
  <main class={'w-full mt-[130px]'}>
    <Slider />
  </main>
</BaseLayout>
